@using Planner.Presentation.Models.Appointments;
@model NewAppointmentViewModel

<div class="text-center">
    @using (Html.BeginForm(FormMethod.Post)) {
        @Html.NameFor(m => m.Title);
        @Html.TextBoxFor(m => m.Title, "", new { @class = "foo bar" });
        @Html.ValidationMessageFor(m => m.Title);

        <br />

        @Html.NameFor(m => m.Description);
        @Html.TextAreaFor(m => m.Description);
        @Html.ValidationMessageFor(m => m.Description);

        <br />

        @Html.NameFor(m => m.StartDate);
        @Html.EditorFor(m => m.StartDate);
        @Html.ValidationMessageFor(m => m.StartDate);

        <br />

        @Html.NameFor(m => m.EndDate);
        @Html.EditorFor(m => m.EndDate);
        @Html.ValidationMessageFor(m => m.EndDate);

        <br />
        <br />

        <input type="submit" value="Add Appointment" />
    }
</div>
