@model ParticipantViewModel
@{
    ViewData["Title"] = "Edit Participant";
}

<div class="text-center">
    <h1>Edit Participant</h1>

    @using (Html.BeginForm(FormMethod.Post)) {
        @Html.HiddenFor(m => m.Id);

        @Html.NameFor(m => m.FirstName);
        @Html.TextBoxFor(m => m.FirstName);
        @Html.ValidationMessageFor(m => m.FirstName);

        <br />

        @Html.NameFor(m => m.LastName);
        @Html.TextBoxFor(m => m.LastName);
        @Html.ValidationMessageFor(m => m.LastName);

        <br />

        @Html.NameFor(m => m.Email);
        @Html.TextBoxFor(m => m.Email);
        @Html.ValidationMessageFor(m => m.Email);

        <br />
        <br />

        <input type="submit" value="Edit Participant" />
    }
</div>
